{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Deal Section -->
    <section class="deal-section">
        <div class="container">
            <h2 class="deal-title">Limited Time Offers</h2>
          <div>
               <p class="deal-description"><marquee behavior="scrolled" direction="rl"> Don't miss out on these exclusive deals on the best shoes! </marquee> </p>
               
          </div>

            <div class="deal-grid">
                <div class="deal-item">
                    <span class="offer-badge">20% Off</span>
                    <img src="/static/images/shoes1.png" alt="Shoe 1" class="deal-image">
                    <h3 class="deal-item-title">Running Shoes</h3>
                    <p class="deal-item-price"><del>₹1200.99</del> ₹1000.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
                <div class="deal-item">
                    <span class="offer-badge">Buy 1 Get 1</span>
                    <img src="/static/images/shoes2.jpg" alt="Shoe 2" class="deal-image">
                    <h3 class="deal-item-title">Sneakers</h3>
                    <p class="deal-item-price"><del>₹1500.99</del> ₹1200.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
                <div class="deal-item">
                    <span class="offer-badge">10% Off</span>
                    <img src="/static/images/shoes6.jpg" alt="Shoe 3" class="deal-image">
                    <h3 class="deal-item-title">Casual Shoes</h3>
                    <p class="deal-item-price"><del>₹1700.99</del> ₹1600.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
                <div class="deal-item">
                    <span class="offer-badge">15% Off</span>
                    <img src="/static/images/shoes8.jpg" alt="Shoe 4" class="deal-image">
                    <h3 class="deal-item-title">Boots</h3>
                    <p class="deal-item-price"><del>₹1000.99</del> ₹885.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
                <div class="deal-item">
                    <span class="offer-badge">20% Off</span>
                    <img src="/static/images/shoes7.jpg" alt="Shoe 1" class="deal-image">
                    <h3 class="deal-item-title">Running Shoes</h3>
                    <p class="deal-item-price"><del>₹1200.99</del> ₹1000.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
                <div class="deal-item">
                    <span class="offer-badge">Buy 1 Get 1</span>
                    <img src="/static/images/shoes4.jpg" alt="Shoe 2" class="deal-image">
                    <h3 class="deal-item-title">Sneakers</h3>
                    <p class="deal-item-price"><del>₹1500.99</del> ₹1200.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
                <div class="deal-item">
                    <span class="offer-badge">10% Off</span>
                    <img src="/static/images/shoes3.jpg" alt="Shoe 3" class="deal-image">
                    <h3 class="deal-item-title">Casual Shoes</h3>
                    <p class="deal-item-price"><del>₹1700.99</del> ₹1600.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
                <div class="deal-item">
                    <span class="offer-badge">15% Off</span>
                    <img src="/static/images/shoes11.jpg" alt="Shoe 4" class="deal-image">
                    <h3 class="deal-item-title">Boots</h3>
                    <p class="deal-item-price"><del>₹1000.99</del> ₹885.99</p>
                    <a href="#" class="deal-item-link">Shop Now</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}